.page {
  height: 100%;
  overflow: auto;
}

.hero-image {
  margin-top: -45px;
  background-image: url("../../images/planet.jpg");
  height: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: verdana;
  font-size: 2.0em;
}

.flight-container {
  height: 200px;
}
