.flight-container {
  height: 400px;
}

h4 {
  top: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #323132;
  text-align: left;
  font-size: 2.0em;
}

h5 {
  top: 0px;
  margin-top: 0px;
  color: black;
  margin-top: 0px;
  text-align: left;
  font-size: 1.5em;
}

.hero-image {
  margin-top: -45px;
  background-image: url("../../images/seattle1.jpg");
  height: 140%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: white;
  font-size: 2.0em;
}

img {
  text-align: center;
  display: cover;
  width: 100%;
}

.items {
  height: 100%;
  width: 100%;
  margin-left: 0;
  text-align: center;
}

.page {
  height: 100%;
  overflow: auto;
}

.work-container {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  overflow-x: hidden;
}

.work-grid {
  padding-top: 5%;
  height: 80%;
  width: 100%;
}

.work-grid-mobile {
  height: 80%;
  width: 100%;
}

.work-grid .items .work-col {
  display: inline-block;
  vertical-align: middle;
  padding: 1.0% 1.5%;
  margin: 0.5%;
  margin-bottom: 5%;
  width: 500px;
  height: 450px;
  background-color: #9c9c9c;
}

.work-grid-mobile .items .work-col {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background-color: #9c9c9c;
}
