a:link {
  color: blue;
}

a:hover {
  color: green;
  cursor: pointer;
}

.about-container {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
}

.flight-container {
  height: 400px;
}

p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20%;
  text-align: left;
  font-size: 1.5em;
}

.p-mobile {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5%;
  text-align: left;
  font-size: 3.0vw;
}

.picture-container {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.picture {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../../images/200_normal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 1.0% 1.5%;
  margin: 1.0%;
  height: 200px;
  width: 200px;
  background-color: #9c9c9c;
}

.resume-container {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 100px;
  overflow-y: auto;
}

.resume-mobile {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 0px;
  padding-left: 5%;
  margin-top: 1.0%;
  background-color: #9c9c9c;
}

.resume {
  display: inline-block;
  vertical-align: middle;
  width: 835px;
  height: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 0px;
  padding-left: 35px;
  margin-top: 1.0%;
  background-color: #9c9c9c;
}
