footer {
  margin: 0px;
  padding: 0px;
  height: 90px;
  width: 100%;
  opacity: 1.0;
  background-color: #9c9c9c;
  overflow: hidden;
  bottom: 0;
  right: 0;
  text-align: center;
}

.Footer-title {
  margin-top: 30px;
  color: #131313;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 1.6em;
}
