canvas {
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: helvetica;
  position: static;
}

#root {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  position: absolute; /*When fixed, hides canvas threejs behind all css */
}
